<launch>

  <param name="robot_description" textfile="$(find darwin_description)/urdf/darwin.urdf" />

  <node name="spawn_darwin"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-file $(find darwin_description)/urdf/darwin.urdf -urdf -model darwin -x 0 -y 3 -z 0.3417" />

  <include file="$(find darwin_control)/launch/darwin_control.launch"/>

  <node name="darwin_walker" pkg="darwin_gazebo" type="walker.py" />

</launch>